body {
    font-family: 'Source Sans Pro';
    margin:0;
}

.portofolio {
    margin-top: 4vh;
    background-color: transparent;
    text-align: center;
}

.img-portofolio {
    display: grid;
    grid-template-columns: 50% auto;
    padding: 4em 4em;
    background-color: transparent;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(2, auto);
}
.portofolio-content {
    display:grid;
    list-style-type:none;
    margin:0;padding:0;
  
}

.container {
    margin-top: 4vh;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 5px;
    background-color: transparent;
    padding: 12px;
  }
  
  .container > div {
    background-color: transparent;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    padding: 3em;
  }
  
  .top-left {
    grid-column: 1/2;    
  }
  
  .top-right {
    grid-column: 2/4;
  }
  
  .content {
    grid-column: 1/2;
    padding: 8em;
  }
  
  .bottom-center {
    grid-column: 2/3;
  }
  
  .bottom-right {
    grid-column: 3/4;
  }

  img {
    width: 250px;
    height: 250px;
    border-radius: 20%;
 }